<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Database Feature Diagram - DBFD</title>
    <link rel="stylesheet" type="text/css" href="/static/dbfd/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dbfd/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dbfd/css/plugins/morris.css">
    <link rel="stylesheet" type="text/css" href="/static/dbfd/css/sb-admin.css">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/dbfd/" class="navbar-brand">DatabaseFeatureDiagram</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a><i class="fa fa-fw fa-dashboard"></i> Overview</a>
                    </li>
                    <li>
                        <a><i class="fa fa-fw fa-dashboard"></i> DBFDs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <hr>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Log in</h1>
                    </div>
                </div>
                <h4>{{ state }}</h4>
				<form action="/dbfd/login/" method="post">{% csrf_token %}                  
					<div class="form-group">
                        <label>Username</label>
                        <input type="text" name="username" value="{{ username }}" autofocus="" /><br />
                    </div>
					<div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" value="" /><br />
                    </div>
					<input class="btn btn-default" type="submit" value="Log In" />
                    <input type="hidden" name="next" value="{{ next }}" />  
				</form>
				<h5>If you don't have a login account, register here: <a href="/dbfd/register/">Register</a></h5>
            </div>
        </div>
    </div>

    <script src="/static/dbfd/js/jquery.js"></script>
    <script src="/static/dbfd/js/bootstrap.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/morris.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/morris-data.js"></script>
</body>

</html>
