<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Database Feature Diagram - DBFD</title>
    <link href="/static/dbfd/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dbfd/css/sb-admin.css" rel="stylesheet">
    <link href="/static/dbfd/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dbfd/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <link href="/static/dbfd/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
    <script src="/static/dbfd/js/jquery.js"></script>
    <script src="/static/dbfd/js/bootstrap.min.js"></script>    
    <script src="/static/dbfd/js/treetable.js" type="text/javascript"></script>
    <script type="text/javascript">
        $("#config_table").treetable();

        function handleClick(cb) {
            var name = cb.name;
            if (name == 'option'){
                var res = cb.className.split("-"); 
                if (res[0] == 'or'){
                    if (cb.checked == false){
                        var all_elements = document.getElementsByClassName(cb.className);
                        var some_checked = false;
                        for (var i = all_elements.length - 1; i >= 0; i--) {
                            if (all_elements[i].checked){
                                some_checked = true;
                            }
                        }
                        if (some_checked == false){
                            all_elements[0].checked = true;
                        }
                    }
                }
            } else{
                var form = document.getElementById("form-id");
                if (name == 'sql-new'){
                    var elem = document.getElementById("mess");
                    elem.name = "sql-new";
                    form.submit();
                } else{
                    if (name == 'sql-update'){
                        var elem = document.getElementById("mess");
                        elem.name = "sql-update";
                        form.submit();
                    }
                }
            }
        }
        
    </script>
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dbfd/">DatabaseFeatureDiagram</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/dbfd/password_change"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/dbfd/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dbfd/"><i class="fa fa-fw fa-dashboard"></i> Overview</a>
                    </li>
                    <li class="active">
                        <a href="/dbfd/diagram/list/"><i class="fa fa-fw fa-sitemap"></i> DBFDs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Create customized database
                        </h1>
                    </div>
                </div>

                {% if eer_diagram %}
                <div class="row">
                    <div class="col-sm-12">
                        <div id="config-panel" class="panel panel-info">
                            <div class="panel-heading">
                                <h4> Equivalent EER Diagram <a class="fa fa-search-plus" href="/static/dbfd/images/{{ eer_diagram }}" target="_blank"></a></h4>
                            </div>
                            <div class="panel-body">
                                <a href="/static/dbfd/images/{{ eer_diagram }}" target="_blank">
                                    <img src="/static/dbfd/images/{{ eer_diagram }}" style="width:980px;" alt=" EER Diagram">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if sql_script %}
                <div class="row">
                    <div class="col-sm-12">
                        <div id="config-panel" class="panel panel-info">
                            <div class="panel-heading">
                                <h5> Download SQL Script</h5>
                            </div>
                            <div class="panel-body">
                                <a class="inline" href="/dbfd/download/{{ sql_script }}">{{ sql_script }}</a>
                                </br>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <div class="row" id="div-tab1">
                    <div class="col-sm-12">
                        <div id="config-panel" class="panel panel-default">
                            <div class="panel-body">
                                <div id="conf-panel" class="panel panel-info">
                                    <div class="panel-heading">
                                        <h4> Select modules to create a configuration</h4>
                                    </div>
                                    <div class="panel-body">
                                        <form id="form-id" action="/dbfd/configuration/{{dbfd_id}}/create" method="post">{% csrf_token %}
                                            {% if not valid %}
                                                <div class="alert alert-danger alert-dismissible" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <p><b>Invalid configuration: </b></p>
                                                    {{ error_messages }}
                                                </div>
                                                <div class="alert alert-{{message_type}} alert-dismissible" role="alert">
                                            {% endif %}
                                            {% if constraints %}
                                                <div class="alert alert-warning" role="alert">
                                                    <b>Remember these constraints:</b>
                                                    {% for constraint in constraints %}
                                                    <p>{{ constraint.initial }} {{ constraint.type }} {{ constraint.final }}</p>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <div class="table-responsive">
                                                <table id="config_table" class="table table-bordered table-hover">
                                                    <tbody>
                                                        {% if list %}
                                                            {% for module in list %}
                                                                <tr data-tt-id="{{ module.level }}" data-tt-parent-id="{{ module.parent_level }}">
                                                                    <td><span class="indenter" style="padding-left: {{ module.padding }}px;"></span>
                                                                        {% if module.type == 'mandatory' %}
                                                                            <i class="fa fa-circle"></i> 
                                                                        {% else %}
                                                                            {% if module.type == 'optional' %}
                                                                                <i class="fa fa-circle-o"></i> 
                                                                            {% else %}
                                                                                {% if module.type == 'or' %}
                                                                                    <i class="fa fa-play"></i> 
                                                                                {% else %}
                                                                                    <i class="fa fa-chevron-right"></i>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endif %}
                                                                        <input {{ module.checked }} {{ module.disabled }} type={{module.elemtype}} class={{module.name}} name="option" id="{{ module.id }}" value="{{ module.id }}" onclick="handleClick(this);"> {{ module.module.name }}</input>
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% endif %}
                                                   </tbody>
                                                </table>
                                            </div>
                                            <div class="dropdown">
                                                <div class="btn-group pull-right" role="group">
                                                    <input type="hidden" id="mess"/>
                                                    <input type="submit" name="eer" class="btn btn-default" value="View EER Diagram" />
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> Generate SQL Script <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" onclick="handleClick(this);" name="sql-new">New script</a></li>
                                                        <li role="separator" class="divider"></li>
                                                        <li><a href="#" onclick="handleClick(this);" name="sql-update">Diff script</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                        {% if added %}
                                            <p> Added: </p>
                                            {% for add in added %}
                                            <p> {{ add }} </p>
                                            {% endfor %}
                                        {% endif %}
                                        {% if removed %}
                                            <p> Removed: </p>
                                            {% for rem in removed %}
                                            <p> {{ rem }} </p>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</body>

</html>
