<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Database Feature Diagram - DBFD</title>
    <link href="/static/dbfd/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dbfd/css/sb-admin.css" rel="stylesheet">
    <link href="/static/dbfd/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/static/dbfd/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <link href="/static/dbfd/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
    <script src="/static/dbfd/js/treetable.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dbfd/">DatabaseFeatureDiagram</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/dbfd/password_change"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/dbfd/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dbfd/"><i class="fa fa-fw fa-dashboard"></i> Overview</a>
                    </li>
                    <li class="active">
                        <a href="/dbfd/diagram/create/1/" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-sitemap"></i> DBFDs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            List of Database Feature Diagrams - DBFDs 
                        </h1>
                    </div>
                </div>
                {% if dbfds %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>My DBFDs</h4>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    {% for dbfd in dbfds %}
                                        <li><b>{{ dbfd.name }}</b> <a style="color: #0000FF" href="/dbfd/diagram/{{dbfd.pk}}/create/1/"><i class="glyphicon glyphicon-zoom-in" style="color: #006600"></i></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h4>Create new diagram</h4>
                            </div>
                            <div class="panel-body">
                                <form action="/dbfd/diagram/list/" method="post">{% csrf_token %}
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">Diagram name</span>
                                            <input required name="dbfd_name" type="text" class="form-control"  aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <input name="create_dbfd" class="btn btn-primary" type="submit" value="Save" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/dbfd/js/jquery.js"></script>
    <script src="/static/dbfd/js/bootstrap.min.js"></script>    

</body>

</html>