<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Database Feature Diagram - DBFD</title>
    <link href="/static/dbfd/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dbfd/css/sb-admin.css" rel="stylesheet">
    <link href="/static/dbfd/css/plugins/morris.css" rel="stylesheet">
    <link href="/static/dbfd/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dbfd/">DatabaseFeatureDiagram</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/dbfd/password_change"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/dbfd/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/dbfd/"><i class="fa fa-fw fa-dashboard"></i> Overview</a>
                    </li>
                    <li>
                        <a href="/dbfd/diagram/list/"><i class="fa fa-fw fa-sitemap"></i> DBFDs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Database Feature Diagram <small>Overview</small>
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">What is a Database Feature Diagram (DBFD)?</h3>
                            </div>
                            <div class="panel-body">
                                It is a modeling technique designed to support the creation of families of conceptual database schemas. A family of conceptual database schemas comprises all possible variations of conceptual database schemas for a given application domain. In a DBFD, the data requirements of a domain are modeled as relations between data modules. A data module is a reusable artifact that models related data objects. Relations (and their associated annotations) define how modules can be conceptually combined. The DBFDs are
                                an extension of the concept of feature diagrams used in Software Product Lines Engineering [1]. You can read more about DBFDs in the article Creating Families of Conceptual Database Schemas Using Database Feature Diagrams (DBFDs) published in SBBD 2015 [2].
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <h3 class="panel-title">How does it work?</h3>
                            </div>
                            <div class="panel-body">
                                A DBFD has core data modules, modeling data requirements that are common to all users of the application domain, and optional or alternative data modules, representing what can be combined in different ways to create customized conceptual schemas. These customized schemas attend the specific needs of users or organizations at the same time as they guarantee data standardization requirements of their application domain.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <h3 class="panel-title">How to create a customized database schema with this webpage?</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li> Go to <b><i class="fa fa-fw fa-sitemap"></i> DBFDs</b> and put a name for your DBFD to create a new diagram. </li>
                                    <li> Click <i class="glyphicon glyphicon-zoom-in" style="color: #006600"></i> to explore your diagram. In this page, you can import the feature diagram file created in Eclipse Plugin FeatureIDE [3] or create your modules manually.</li>
                                    <li> You can <b>add new modules and new constraints</b> in the initial tab. </li>
                                    <li> For each data module listed in the second tab, you might <b> import an EER (Enhanced Entity Relationship) diagram</b> created at tool EER Case [4]. 
                                    <li> For the relations and constraints listed in tab 3, you can <b>write some annotations </b>. </li>
                                    <li> When these steps are completed, the database feature diagram is finally ready.</li>
                                    <li> Click the button <b>*Create configuration*</b> to select data modules that you want to have in your configuration.</li>
                                    <li> Press the button <b>*View EER Diagram*</b> to visualize an enhanced entity relationship diagram for your configuration.</li>
                                    <li> Press the button <b>"Generate SQL Script"</b>  to download the sql script that can be used to have the physical customized database.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <h3 class="panel-title">References</h3>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>[1] Frank Van Der Linden e Klaus Pohl. Software Product Line Engineering: Foundations, Principles, and Techniques. Springer-Verlag New York, Inc., 2005.</li>
                                    <li>[2] Larissa Cristina Moraes e Kelly Rosa Braghetto. Creating Families of Conceptual Database Schemas Using Database Feature Diagrams (DBFDs). XXX Simpósio Brasileiro de Banco de Dados (SBBD'15), 2015.</li>
                                    <li>[3] Thomas Thüm, Christian Kästner, Fabian Benduhn, Jens Meinicke, Gunter Saake e Thomas Leich. FeatureIDE: An extensible framework for feature-oriented software development. Sci. Comput. Program., 79, 2014.</li>
                                    <li>[4] EERCASE software homepage: https://sites.google.com/a/cin.ufpe.br/eercase/.</li>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-12 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <h3 class="panel-title">Neuroscience application</h3>
                            </div>
                            <div class="panel-body">
                                After the creation of a customized database schema, when a neuroscientist wants to update the database feature diagram, he has three options that are enabled in this webpage (go to <b>*Diagram -> Update diagram*</b>). The possibilities are:
                                <ul>
                                    <li>To create a new experimental protocol component;</li>
                                    <li>To add an attribute in a specific entity type (available only for some entity types);</li>
                                    <li>To create a new data collection type.</li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <script src="/static/dbfd/js/jquery.js"></script>
    <script src="/static/dbfd/js/bootstrap.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/morris.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/morris-data.js"></script>

</body>

</html>