<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Database Feature Diagram - DBFD</title>
    <link rel="stylesheet" type="text/css" href="/static/dbfd/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dbfd/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dbfd/css/plugins/morris.css">
    <link rel="stylesheet" type="text/css" href="/static/dbfd/css/sb-admin.css">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dbfd/">DatabaseFeatureDiagram</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a><i class="fa fa-fw fa-dashboard"></i> Overview</a>
                    </li>
                    <li>
                        <a><i class="fa fa-fw fa-dashboard"></i> DBFDs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <hr>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Register</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        {% if registered %}
                            <h4> Thank you for registering! <a href="/dbfd/login/">Login</a><br /></h4>
                        {% else %}
                            <h4> Register here!</h4><br />
                            <form id="user_form" method="post" action="/dbfd/register/" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ user_form.first_name.errors }}
                                    <label for="{{ user_form.first_name.id_for_label }}">First name:</label>
                                    {{ user_form.first_name }}
                                </div>
                                <div class="form-group">
                                    {{ user_form.last_name.errors }}
                                    <label for="{{ user_form.last_name.id_for_label }}">Last name:</label>
                                    {{ user_form.last_name }}
                                </div>
                                <div class="form-group">
                                    {{ user_form.username.errors }}
                                    <label for="{{ user_form.username.id_for_label }}">Username:</label>
                                    {{ user_form.username }}
                                </div>
                                <div class="form-group">
                                    {{ user_form.email.errors }}
                                    <label for="{{ user_form.email.id_for_label }}">E-mail:</label>
                                    {{ user_form.email }}
                                </div>
                                <div class="form-group">
                                    {{ user_form.password.errors }}
                                    <label for="{{ user_form.password.id_for_label }}">Password:</label>
                                    {{ user_form.password }}
                                </div>
                                <div class="form-group">
                                    <label for="{{ user_form.groups.id_for_label }}">Group:</label>
                                    <select name="group" class="form-control">
                                        <option  value="" selected="selected">---Select an option---</option>
                                        {% for group in groups %}
                                            <option value="{{ group.id }}">{{ group.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input class="btn btn-default" type="submit" name="submit" value="Register" />
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/dbfd/js/jquery.js"></script>
    <script src="/static/dbfd/js/bootstrap.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/morris.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/morris-data.js"></script>
</body>

</html>
