<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Database Feature Diagram - DBFD</title>
    <link href="/static/dbfd/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dbfd/css/sb-admin.css" rel="stylesheet">
    <link href="/static/dbfd/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dbfd/">DatabaseFeatureDiagram</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/dbfd/password_change"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/dbfd/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dbfd/"><i class="fa fa-fw fa-dashboard"></i> Overview</a>
                    </li>
                    <li class="active">
                        <a href="/dbfd/diagram/list/"><i class="fa fa-fw fa-sitemap"></i> DBFDs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Upload EER diagram
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4>Import EER diagram <small>(*.eer)</small></h4>
                            </div>
                            <div class="panel-body">
                                {% if documents %}
                                    <ul>
                                    {% for document in documents %}
                                        <li><h5>Uploaded diagram:</h5> <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    <p>No documents.</p>
                                    <form action="{% url "upload_eer" module %}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {% if message_type == 'danger' %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <p><b>Problems when uploading EER diagram: </b></p>
                                                {% for message in messages %}
                                                    <p>{{ message }}</p>
                                                {% endfor %}
                                            </div>
                                            <div class="alert alert-{{message_type}} alert-dismissible" role="alert">
                                        {% endif %}
                                        <p>{{ form.non_field_errors }}</p>
                                        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
                                        <p>
                                            {{ form.docfile.errors }}
                                            {{ form.docfile }}
                                        </p>
                                        <p><input type="submit" class="btn btn-default" value="Import diagram" /></p>
                                    </form> 
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a style="float: right;" type="button" class="btn btn-primary" href="/dbfd/diagram/{{ dbfd.pk }}/create/2/">Go back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/dbfd/js/jquery.js"></script>
    <script src="/static/dbfd/js/bootstrap.min.js"></script>

</body>

</html>
