<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Database Feature Diagram - DBFD</title>
    <link href="/static/dbfd/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/dbfd/css/sb-admin.css" rel="stylesheet">
    <link href="/static/dbfd/css/plugins/morris.css" rel="stylesheet">
    <link href="/static/dbfd/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/dbfd/">DatabaseFeatureDiagram</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/dbfd/password_change"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/dbfd/logout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/dbfd/"><i class="fa fa-fw fa-dashboard"></i> Overview</a>
                    </li>
                    <li>
                        <a href="/dbfd/diagram/list/"><i class="fa fa-fw fa-sitemap"></i> DBFDs</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            System Users
                        </h1>
                        <ul>
                            {% for user in user_list %}
                            <li>{{ user.user.first_name }} {{ user.user.last_name }} ({{ user.user.email}}) - Group: 
                                {{ user.group }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/dbfd/js/jquery.js"></script>
    <script src="/static/dbfd/js/bootstrap.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/raphael.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/morris.min.js"></script>
    <script src="/static/dbfd/js/plugins/morris/morris-data.js"></script>
    <script src="/static/dbfd/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/dbfd/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/dbfd/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/dbfd/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/static/dbfd/js/plugins/flot/flot-data.js"></script>

</body>

</html>
